.projects-container {
  margin: 8rem 1rem;
  position: relative;
}

.projects-container h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.arrow-left-project, .arrow-right-project {
  display: none;
  width: 2.2rem;
  height: 2.2rem;
  align-items: center;
  justify-content: center;
  color: #6751b9;
  border-radius: 0.65rem;
  border: 1.5px solid #6751b9;
  background: #130f2a;
  position: absolute;
  top: 55%;
  z-index: 2;
  cursor: pointer;
}

.arrow-left-project span,
.arrow-right-project span {
  font-size: 2rem;
  font-weight: 500;
}

.arrow-left-project {
  left: 0;
}

.arrow-right-project {
  right: 0;
}

@media (max-width: 768px) {
  .projects-container {
    margin: 4rem 0;
  }

  .projects-container h5 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }

  .arrow-left-project,
  .arrow-right-project {
    display: flex;
  }

  .arrow-left-project {
    left: -1rem;
  }

  .arrow-right-project {
    right: -1rem;
  }
}
